<h2><%= @craft.name %></h2>
<%= form_with model: @craft do |f| %>
    <h4>Add Supply</h4>
<div class="hidden"> does it need to be ' label_tag "#{sc.name}" ' for params reasons? We'll see!! I wanna be able to click the name of the category and have the supplies appear and disappear OR ACTUALLY, i wanna have a find-or-create supply bar UGH I JUST WANT THINGS TO LOOK NICE </div>
    <% @supply_categories.each do |sc| %>
        <%= sc.name %>
        <ul class="no_bullets">
        <li><%= f.collection_radio_buttons :supply_ids, sc.supplies, :id, :name do |supply| %>
            <%= supply.label(class: 'checkbox_container') {supply.radio_button + " " + supply.text} %><br>
        <% end %></li>
        </ul>
    <% end %>

    <br><br>


    <p>Don't see your supply? Select "Create New" in the dropdown and add details here!</p>
    <%= f.fields_for :supplies do |sf| %>
        <%= sf.label :name %>
        <%= sf.text_field :name %>
        <br>
        <%= sf.label :description %>
        <%= sf.text_field :description %>
        <br>
        <%= sf.label :supply_category %>
        <%= sf.collection_select :supply_category_id, @supply_categories, :id, :name %>
        <br>
    <% end %>

    <%= f.submit "Add"%>

<% end %>