<p><%= link_to "Back to Craft", craft_path(@craft) %></p>

<h2 class="page-heading"><%= @craft.name %></h2>
<h4 class="list">Add Supply</h4>
<%= form_with model: @craft do |f| %>
<div>
    <% if @craft.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@craft.errors.count, "error") %>
            prohibited this craft from being saved:
        </h2>
    <ul>
        <% @craft.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
    <% end %>
    <% @supply_categories.each do |sc| %>
        <% unless sc.name == "Create New" %>
            <div class="no_bullets">
                <%= sc.name %>
                <li><%= f.collection_check_boxes :supply_ids, sc.supplies, :id, :name do |supply| %>
                <%= supply.label(class: 'checkbox_container') {supply.check_box + " " + supply.text} %>
            </li>
        <% end %>   
    <% end %><br>
    <% end %>
    </div>

</div>
    <p>Don't see your supply? Add it <b><%= link_to "here!", new_supply_path %></b></p>
    <input type="submit" class="page-button" value="Edit Supplies">


<% end %>
