<h2><%= @craft.name %></h2>
<h4>Add Supply</h4>


<%= form_with model: @craft do |f| %>
    <% if @craft.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@craft.errors.count, "error") %>
      prohibited this craft from being saved:
    </h2>

    <ul>
    <% @craft.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<div class="hidden"> does it need to be ' label_tag "#{sc.name}" ' for params reasons? We'll see!! I wanna be able to click the name of the category and have the supplies appear and disappear OR ACTUALLY, i wanna have a find-or-create supply bar UGH I JUST WANT THINGS TO LOOK NICE </div>
    <% @supply_categories.each do |sc| %>
    <% unless sc.name == "Create New" %>
    <div class="no_bullets">
            <%= sc.name %>
                <li><%= f.collection_check_boxes :supply_ids, sc.supplies, :id, :name do |supply| %>
            <%= supply.label(class: 'checkbox_container') {supply.check_box + " " + supply.text} %><br>
            </div>
        <% end %></li>    
        <% end %>
        <% end %>

    <p>Don't see your supply? Add it <b><%= link_to "here!", new_supply_path %></b></p>

    <%= f.submit "Edit Supplies"%>

<% end %>