
<%= form_with model: @craft, local: true do |f| %>
    <% if @craft.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@craft.errors.count, "error") %>
      prohibited this craft from being saved:
    </h2>

    <ul>
    <% @craft.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <br><br>

    <%= f.label :category %>
    <% if @category.present? %>
        <%= f.collection_select :craft_category_id, @craft_categories, :id, :name, selected: @category.id %>
    <% else %>
      <%= f.collection_select :craft_category_id, @craft_categories, :id, :name %>
    <% end %>
    <br><br>

    <%= f.submit "Next"%>

<% end %>