<p><%= link_to "Back to Craft Category", craft_category_path(@craft.craft_category) %></p>

<h2 class="page-heading courier"><%= @craft.name %></h2>
<h3 class="indent">Notes: <%= @craft.notes %></h3>
<h4 class="list">Supplies</h4>
<ul>
<% @craft.supplies.each do |supply| %>
    <% if supply.in_stock %>
        <li><%= link_to supply.name, supply_path(supply) %></li>
    <% else %>
        <li class="strike"><%= link_to supply.name, supply_path(supply) %></li>
    <% end %>
<% end %>
</ul>
<br>
<p><%= "#{@craft.supplies.in_stock.count} of #{@craft.supplies.count} supplies in stock." %></p>

<br>

<p class="link"><%= link_to "Assign Supplies", edit_craft_path(@craft) %></p>
<p class="link"><%= link_to "Log New Supplies", new_supply_path %></p>



