<p><%= link_to "Back to Categories", craft_categories_path %></p>

<h2 class="page-heading courier"><%= @category.name %></h2>

<ul>
    <% @category.crafts.sort.each do |craft| %>
        <li class="list"><%=link_to craft.name, craft_category_craft_path(craft)%></li>
    <% end %>
</ul>

<br><br><br>
<div class="link"><%= link_to "Log New Activity", new_craft_category_craft_path(@category) %></div>
<br>
<p class="message"><%= @message %></p>
<h4>Favorite Category?</h4>
<%= render partial: "application/radio_buttons", locals: {category: @category} %>
