<h2><%= @category.name %></h2>
<ul>
<% @category.crafts.each do |craft| %>
    <li><%= link_to craft.name, craft_category_craft_path(craft) %></li>
<% end %>
</ul>


<%= form_with model: @category do |f| %>
    <%= f.radio_button :favorite, true, :checked => false %>
    <%= f.label :favorite_category, "Yes" %>
    <%= f.radio_button :favorite, false, :checked => true %>
    <%= f.label :favorite_category, "No" %>

    <%= f.submit "Update Favorite Status"%>
<% end %>