<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
  
<br>

<% @user.craft_categories.uniq.each do |category| %>
<div class="container">
        <div class="column">
        <%= link_to category.name, craft_category_path(category) %>
        </div>
    </div>
<% end %>
<br>
Change the URL on this to "home" ? idk smth

<%end%>