<h2 class="pre-login-header">Sign Up</h2>
<div class="stylebox">
  <%= form_with model: @user, url: '/signup', local: true do |f| %>
     <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <p class="error-message"><%= message %></p>
        <% end %>
    <% end %> 

    <%= render partial: "users/form", locals: {user: @user} %>

    <div class="field form">
      <%= f.label "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <br>
    <input type="submit" class="button" value="Sign Up">
  <% end %>

  <div class="options-bar"><%= link_to 'Click here to Log In', login_path %></div>
</div>

