<h2>Project</h2>

<%# Supply count: do this after your MVP is built!%>
<%# Reference photos:%>

<%= form_with model: @project do |f| %>
<%= f.text_field :name %>
<%= f.text_area :description %>

<% @supplies.each do |supply| %>
    <%= f.check_box :supplies, {multiple: true}, supply, false %>
    <%= label supply %>
<%= f.text_area :reference_info %>

<%= f.submit %>