<%= form_with model: @supply do |f| %>
    <% if @supply.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@supply.errors.count, "error") %>
          prohibited this supply from being saved:
        </h2>

      <ul>
        <% @supply.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
    <% end %>
    <div class="courier">
    <%= f.label :name %>
    <%= f.text_field  :name%>
    <br><br>

    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <br><br>

    <%= f.label :category %>
    <%= f.collection_select :supply_category_id, @supply_categories, :id, :name %>
    <br><br>

     <%= f.label :in_stock? %>
        <label class="switch">
        <%= f.check_box :in_stock %>
        <span class="slider round"></span>
    </label>

    <p>Don't see your supply category? Select "Create New" in the dropdown and add details here!</p>
    <div>New Category Name</div> <div class="hidden">Why can't I have multiple capitalizations in labels, Rails?</div>
    <%= f.text_field "category[name]" %>
    <br><br>
    
    <%= f.label :notes %>
    <%= f.text_field "category[notes]" %>
    <br><br>
</div>
    <input type="submit" class="page-button" value="Create Supply">

<% end %>