
<%= form_with model: @supply do |f| %>

    <%= f.label :name %>
    <%= f.text_field  :name%>
    <br><br>

    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <br><br>

    <%= f.label :category %>
        <% if @supply.supply_category_id %>
            <%= f.collection_select :supply_category_id, @supply_categories, :id, :name, selected: @supply.supply_category_id %>
        <% else %>
            <%= f.collection_select :supply_category_id, @supply_categories, :id, :name %>
        <% end %>

    <br><br>
    <%= f.label :in_stock? %>
        <label class="switch">
        <%= f.check_box :in_stock %>
        <span class="slider round"></span>
    </label>

    <br><br>

    <p>Not enough categories for you? Select "Create New" in the dropdown and add details here!</p>
    <div>New Category Name</div> <div class="hidden">Why can't I have multiple capitalizations in labels, Rails?</div>
    <%= f.text_field "category[name]" %>
    <br><br>
    
    <%= f.label :notes %>
    <%= f.text_field "category[notes]" %>
    <br><br>

    <%= f.submit %>

<% end %>