<% @categories.each do |sc| %>
    <% if sc.supplies.count > 0 %>
        <h4><%= link_to sc.name, supply_category_path(sc)%></h4>
        <ol>
        <% sc.supplies.each do |s| %>
            <li class="appear"><%= link_to s.name, supply_path(s) %></li>
            <ul>
            <% if s.notes != "" %>
                <li><%= s.notes%></li>
            <% end %>
            <li class="hover">Last Updated: <%= s.updated_at.strftime("%x") %></li>
            </ul>
        <% end %>
        </ol>
    <% end %>
<% end %>

<%= link_to "Log Supply", new_supply_path %>