GONNA USE THIS TO DRY UP MY SHOW PAGES, BUT MY BRAIN IS TOO SLOW RIGHT NOW

<p><%=link_to "Back to Supply Categories", supply_categories_path %></p>

<h2 class="page-heading"><%= @supply.name %></h2>
<h3 class="category link"><%= link_to  @supply.supply_category.name, supply_category_path(@supply.supply_category_id) %></h3>
<ul class="no-bullets">
    <h4>Notes:</h4>
        <% if @supply.notes != "" %>
            <li><%= @supply.notes%></li>
        <% end %>

    <%= form_with model: @supply, local: true do |f| %>
    <h4 class="inline">In Stock?</h4>
    <%= f.submit "Update"%>
    <ul>
        <div class="inline">
            <%= f.radio_button :in_stock, true, :checked => @supply.in_stock==true %>
            <%= f.label :in_stock, "Yes" %>
            <%= f.radio_button :in_stock, false, :checked => !@supply.in_stock==true %>
            <%= f.label :in_stock, "No" %>
        </div>
    </ul>
    <%end%>
</ul>