<!DOCTYPE html>
<html>
  <head>
    <title>Crafting</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rowdies:wght@700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <h1 class="header"><%=link_to "the craft room", homepage_path%></h1>
  <h5 class="hidden">keep track. use the supplies you have. save money. recycle. !!</h5>
  
  </header>
  <body>
      <ul class="ul-navbar">
      <% if current_user%>
        <li class="navbar"><a href="/crafts">Crafts</a></li>
        <li class="navbar"><a href="/supplies">Supplies</a></li>
        <li class="navbar"><%= link_to "Logout", user_path(current_user.id), method: :delete%></li>
      <% end %>
      <% if !current_user%>
        <li class="navbar"><a href="/login">Log In</a></li>
        <li class="navbar"><a href="/signup">Sign Up</a></li> 
      <% end %>
    </ul>
    <br>
    <%= yield %>
  </body>
</html>