<!DOCTYPE html>
<html>
  <head>
    <title>Crafting</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rowdies:wght@700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="topnav">
      <% if current_user%>
        <a class="topnav" href=<%=user_path(current_user)%>>My Craft Room</a>
        <a class="topnav" href="/crafts">Crafts</a>
        <a class="topnav" href="/supplies">Supplies</a>
        <a class="topnav" href=<%=user_path(current_user)%> data-confirm="Are you sure you wish to logout?" data-method="delete">Log Out</a>
      <% end %>
      <% if !current_user%>
        <a class="topnav" href="/login">Log In</a>
        <a class="topnav" href="/signup">Sign Up</a>
      <% end %>
    </div>
    <div class="wrapper">
    <%= yield %>
    </div>
  </body>
</html>